
/* boons.css (c) Tumi 2003-2004 */

/*
div#boon-form {
	width: 80%;
	margin-left: 5%;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-family: Verdana, Tahoma, Arial, "Times New Roman", serif;

	border: 1px solid Black;
	padding: 2em;
}

div.boons {
	width: 70%;
	text-align: right;
	display: inline;
	clear: left;
	float: left;
	padding-right: 10px;
}

div.boon-block {
	display: block;
	clear: both;
	margin-bottom: 7px;
	margin-top: 7px;
}

input.boons {
	font-size: 0.9em;
	font-weight: bold;
	float: left;
	clear: right;

}

input#boons-select {
	float: right;
}
*/